<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>CreatedAt</th>
      <th>UpdatedAt</th>
      <th>Username</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Avatar</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
      <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.avatar }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a href="{{ path('user_show', { id: user.id }) }}">show</a>

        {% if app.user is not empty %}
        <a href="{{ path('user_edit', { id: user.id }) }}">edit</a>
        {% endif %}
      </td>
    </tr>
  </tbody>
</table>
