<ul id="signInUp">
	{% if app.user is empty %}
		<li class="desktop-none">
			<a class="" href="{{path("app_login")}}">S'inscrire/Se connecter</a>
		</li>
	{% endif %}
	<li class="desktop-none">
		{% if app.user is not empty %}
			<a href="{{ path("post_new") }}">
				Créer une annonce
			</a>
		{% else %}
			<a class="btn-create-post" data-value="@Request.RequestContext.HttpContext.Session['user']" href="{{ path('app_login')}}">
				Créer une annonce
			</a>
		{% endif %}
		<HR size="2" align="center" width="100%">
	</li>
</ul>


<ul id="categories-burger">
	<HR size="2" align="center" width="100%">
	<li>
		<h6>Selectionnez une catégorie</h6>
	</li>
	<li class="link-cat" id="cat-all">
			<a href="{{ path('home', { 'cat': null }) }}">
				<div class="categorie-burger">
					<img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_videogame.png') }}">
					<p>Toutes</p>
				</div>
			</a>
		</li>
	<li class="link-cat" id="cat-jeuxVideo">
		<a href="{{ path('home', { 'cat': 'jeux-video'}) }}">
			<div class="categorie-burger">
				<img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_videogame.png') }}">
				<p>Jeux vidéo</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-jeuxSociete">
		<a href="{{ path('home', { 'cat': 'jeux-de-societe'}) }}">
			<div class="categorie-burger">
				<img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_boardgame.png') }}">
				<p>Jeux de société</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-dvd">
		<a href="{{ path('home', { 'cat': 'dvd'}) }}">
			<div class="categorie-burger">
				<img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_cddvd.png') }}">
				<p>Dvd</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-retroGaming">
		<a href="{{ path('home', { 'cat': 'retrogaming'}) }}">
			<div class="categorie-burger">
				<img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_retro.png') }}">
				<p>Retrogaming</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-goodies">
		<a href="{{ path('home', { 'cat': 'goodies'}) }}">
			<div class="categorie-burger">
				<img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_goodies.png') }}">
				<p>Goodies</p>
			</div>
		</a>
	</li>
	<HR size="2" align="center" width="100%">
</ul>

<ul id="profile-burger">
	{% if app.user is not empty %}
		<li class="desktop-none">
			<a id="signInUp" class="" href="{{path("current_user_profile")}}">Mon Compte</a>
		</li>
	{% endif %}
</ul>


<ul id="infos-burger">
	{% if app.user is not empty %}
	<li>
		<HR size="2" align="center" width="100%">
		<a id="signInUp" class="" href="{{path("app_logout")}}">Se déconnecter</a>
	</li>
	{% endif %}
</ul>
