<ul id="signInUp">
    {% if app.user is empty %}
        <li>
            <a class="" href="{{path("app_login")}}">S'inscrire/Se connecter</a>
        </li>
    {% endif %}
    <li>
        <a href="#">+ Créer une annonce</a>
    </li>
    <li>
        <a href="#">Recherche</a>
    </li>
</ul>

<HR size="2" align="center" width="100%">
<h6 class="text-center">Selectionnez une catégorie</h6>

<ul id="categories-burger">

    <li id="cat-jeuxVideo" class="categorie-burger">
        <img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_videogame.png') }}">
        <a href="#">Jeux vidéo</a>
        <input type="checkbox" name="cat-jeux-video" id="cat-jeux-video" checked="checked"/>
        <label for="cat-jeux-video"></label>
    </li>

    <li id="cat-jeuxSociete" class="categorie-burger">
        <img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_boardgame.png') }}">
        <a href="#">Jeux de société</a>
        <input type="checkbox" name="cat-jeux-societe" id="cat-jeux-societe"/>
        <label for="cat-jeux-societe"></label>
    </li>

    <li id="cat-dvd" class="categorie-burger">
        <img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_cddvd.png') }}">
        <a href="#">dvd</a>
        <input type="checkbox" name="cat-cd-dvd" id="cat-cd-dvd"/>
        <label for="cat-cd-dvd"></label>
    </li>

    <li id="cat-retroGaming" class="categorie-burger">
        <img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_retro.png') }}">
        <a href="#">Retrogaming</a>
        <input type="checkbox" name="cat-retro" id="cat-retro"/>
        <label for="cat-retro"></label>
    </li>

    <li id="cat-goodies" class="categorie-burger">
        <img class="icons" src="{{asset('img/icons_bleu_menu_mobile/icon_goodies.png') }}">
        <a href="#">Goodies</a>
        <input type="checkbox" name="cat-goodies" id="cat-goodies"/>
        <label for="cat-goodies"></label>
    </li>
</ul>

<HR size="2" align="center" width="100%">
<ul id="profile-burger">
    {% if app.user is not empty %}
        <li>
            <a id="signInUp" class="" href="{{path("current_user_profile")}}">Mon Compte</a>
        </li>
    {% endif %}
    <li id="FAQ">
        <a href="#">FAQ</a>
    </li>
</ul>

<HR size="2" align="center" width="100%">

<ul id="infos-burger">
    {% if app.user is not empty %}
        <li>
            <a id="signInUp" class="" href="{{path("app_logout")}}">Se déconnecter</a>
        </li>
    {% endif %}
    <li id="infos">
        <a href="#">infos pratiques</a>
    </li>
</ul>
