<ul id="signInUp">
	{% if app.user is empty %}
		<li class="desktop-none reverse-underline">
			<a href="{{path("app_login")}}">S'inscrire/Se connecter</a>
		</li>
	{% endif %}
	<li class="desktop-none">
		{% if app.user is not empty %}
			<a class="ml-2" href="{{ path("post_new") }}">
				Créer une annonce
			</a>
		{% else %}
			<a class="btn-create-post ml-2" data-value="@Request.RequestContext.HttpContext.Session['user']" href="{{ path('app_login')}}">
				Créer une annonce
			</a>
		{% endif %}
	</li>
	  <!-- POUR L'ADMIN -->
	  {% if is_granted('ROLE_ADMIN') %}
	  <li
		class="desktop-none ml-4 {% if mainNavAdmin is defined %}active{% endif %}"
	  >
		<a class="nav-link" href="{{ path('admin') }}">Espace admin</a>
	  </li>
	  {% endif %}
</ul>


<ul id="categories-burger">
	<HR size="2" align="center" width="100%">
	<li>
		<h6>Selectionnez une catégorie</h6>
	</li>
	<li class="link-cat" id="cat-all">
			<a href="{{ path('home', { 'cat': null }) }}">
				<div class="categorie-burger my-2">
				
					<p>Toutes les catégories</p>
				</div>
			</a>
		</li>
	<li class="link-cat" id="cat-jeuxVideo">
		<a href="{{ path('home', { 'cat': 'jeux-video'}) }}">
			<div class="categorie-burger">
				<img
				class="icons"
				src="{{ asset('img/icons/icon_categorie/bleu/icon_videogame.png') }}"
			  />
				<p>Jeux vidéo</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-jeuxSociete">
		<a href="{{ path('home', { 'cat': 'jeux-de-societe'}) }}">
			<div class="categorie-burger">
				<img
				class="icons"
				src="{{ asset('img/icons/icon_categorie/bleu/icon_boardgame.png') }}"
			  />
				<p>Jeux de société</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-dvd">
		<a href="{{ path('home', { 'cat': 'dvd'}) }}">
			<div class="categorie-burger">
				<img
				class="icons"
				src="{{ asset('img/icons/icon_categorie/bleu/icon_cddvd.png') }}"
			  />
				<p>CD/DVD</p>
			</div>
		</a>
	</li>
	<li class="link-cat" id="cat-book">
		<a href="{{ path('home', { 'cat': 'book'}) }}">
			<div class="categorie-burger">
				<img
				class="icons"
				src="{{ asset('img/icons/icon_categorie/bleu/icon_book.png') }}"
			  />
				<p>Livres</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-retroGaming">
		<a href="{{ path('home', { 'cat': 'retrogaming'}) }}">
			<div class="categorie-burger">
				<img
				class="icons"
				src="{{ asset('img/icons/icon_categorie/bleu/icon_retro.png') }}"
			  />
				<p>Retrogaming</p>
			</div>
		</a>
	</li>

	<li class="link-cat" id="cat-goodies">
		<a href="{{ path('home', { 'cat': 'goodies'}) }}">
			<div class="categorie-burger">
				<img
				class="icons"
				src="{{ asset('img/icons/icon_categorie/bleu/icon_goodies.png') }}"
			  />
				<p>Goodies</p>
			</div>
		</a>
	</li>
	<HR size="2" align="center" width="100%">
</ul>

<ul id="profile-burger">
	{% if app.user is not empty %}
		<li class="desktop-none ml-4">
			<a id="signInUp" class="nav-link" href="{{path("current_user_profile")}}">Mon Compte</a>
		</li>
	{% endif %}
</ul>


<ul id="infos-burger">
	{% if app.user is not empty %}
	<li class="ml-4">
		<a id="signInUp" class="nav-link" href="{{path("app_logout")}}">Se déconnecter</a>
	</li>
	{% endif %}
</ul>
