{% from '_macros/field-has_error.html.twig' import hasError %}
{% if action is
not defined %}
	{% set action = path('post_new') %}
{% endif %}

{{ form_start(post_form, { action: action }) }}

<!-- CATEGORIES -->
<div class="form-group">
	{{ form_label(post_form.categories) }}

	{{ form_widget(post_form.categories, {'attr': { 'class': 'form-control ' ~ hasError(post_form.categories)
  }}) }}

	<div class="text-danger">
		{{ form_errors(post_form.categories) }}
	</div>
</div>

<!-- TITLE -->
<div class="form-group">
	{{ form_label(post_form.title) }}

	{{ form_widget(post_form.title, {'attr': { 'class': 'form-control ' ~ hasError(post_form.title)
  }}) }}

	<div class="text-danger">
		{{ form_errors(post_form.title) }}
	</div>
</div>

<!-- DESCRIPTION -->
<div class="form-group">
	{{ form_label(post_form.description) }}

	{{ form_widget(post_form.description, {'attr': { 'class': 'form-control ' ~ hasError(post_form.description)
  }}) }}

	<div class="text-danger">
		{{ form_errors(post_form.description) }}
	</div>
</div>

<!-- STATE -->
{{ form_label(post_form.state) }}
<div id="post_state" class="d-flex flex-column h-auto container-fluid">
	{{ form_widget(post_form.state, {'attr': { 'class': '' ~ hasError(post_form.state)
  }}) }}

	<div class="text-danger">
		{{ form_errors(post_form.state) }}
	</div>
</div>

<!-- PRICE -->
<div class="form-group d-flex flex-column align-items-center m-auto">
	<div class="form-group text-center">
		{{ form_label(post_form.price) }}
		{{ form_widget(post_form.price, {'attr': { 'class': 'form-control' ~ hasError(post_form.price)
    }}) }}
	</div>

	<div class="text-danger">
		{{ form_errors(post_form.price) }}
	</div>
</div>

<!-- ATTACHMENT -->
{% if action is not defined %}
	<img src="{{ asset('uploads/' ~ post.attachment) }}" class="card-img"/>
	{% else %}
{% endif %}

<div class="form-group d-flex flex-column">
	{{ form_label(post_form.attachment, "Include a cool picture") }}
	<div class="custom-file">
		{{ form_widget(post_form.attachment, {'attr': { 'class': 'custom-file-input' ~ hasError(post_form.attachment)
    }}) }}
	</div>
	<small class="form-text text-muted">
		Les formats d'images supportés : jpeg, png, gif
	</small>

	<div class="text-danger">
		{{ form_errors(post_form.attachment) }}
	</div>
</div>

<!-- LOCATION -->
<div class="form-group">
	{{ form_label(post_form.location) }}
	{{ form_widget(post_form.location, {'attr': { 'class': 'form-control ' ~ hasError(post_form.location)
  }}) }}

	<div class="text-danger">
		{{ form_errors(post_form.location) }}
	</div>
</div>

<!-- PUBLIC -->
<div class="form-group">
	<div class="custom-control custom-switch">
		{{ form_widget(post_form.public, { 'attr': { 'class' : 'custom-control-input' ~ hasError(post_form.public)
    }}) }}
		{{ form_label(post_form.public, 'Rendre publique mon annonce', { 'label_attr': { 'class' : 'custom-control-label'
    }}) }}
	</div>
</div>


<!-- CHECKED -->
{% if is_granted('ROLE_ADMIN') %}

	<div class="form-group">
		<div class="custom-control custom-switch">
			{{ form_widget(post_form.checked, { 'attr': { 'class' : 'custom-control-input' ~ hasError(post_form.checked)
    }}) }}
			{{ form_label(post_form.checked, 'Verifier', { 'label_attr': { 'class' : 'custom-control-label'
    }}) }}
		</div>
	</div>
{% else %}
	<input type="hidden" id="post_checked" name="post[checked]" value="1" checked="checked">
{% endif %}


<!-- SUBMIT -->
<div class="d-flex form-group justify-content-center">
	<button class="btn btn-green">
		{{ button_label|default('Valider mon annonce', { 'attr': { 'class' : 'btn btn-green'


    }}) }}
	</button>
</div>
{{ form_end(post_form) }}
