{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block mainContent %}
    {{ dump(post.author.id) }}
    <a href="javascript:history.back()" class="btn btn-white">
        ‹‹
    </a>

    <img src="{{ asset('uploads/' ~ post.attachment) }}" class="card-img">

    <p>{{ post.categories ? post.categories|join(', ') : '' }}</p>

    <h3>{{ post.title }}</h3>

    <p>
        {{ post.location }}, à
        {{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}
    </p>
    <div class="price">
        {{ post.price }}€
    </div>

    <HR size="2" align="center">

    <h6>Description</h6>
    <p>{{ post.description }},
        {{ post.state }}
    </p>

    <HR size="2" align="center" width="100%">

    <div class="d-flex flex-column ">
        <div class="btn-green">
            Contacter le vendeur
        </div>
        {% include 'user/_profile-card.html.twig' with { 'user' : post.author }%}
    </div>

    {% if app.user is not empty %}
        {% if post.author.id == app.user.id %}
            <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

            {{ include('post/_delete_form.html.twig') }}

        {% endif %}
    {% endif %}

{% endblock %}
{% block sidebarContent %}
    <div class="container d-flex flex-column ">
        {% include 'user/_profile-card.html.twig' with { 'user' : post.author }%}


        <a href="{{ path('user_profile', {'id': post.author.id}) }}" class="btn-green">
            Contacter le vendeur
        </a>
    </div>

{% endblock %}
