{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block mainContent %}

    <img src="{{ asset('uploads/' ~ post.attachment) }}" class="card-img">

    <p>{{ post.categories ? post.categories|join(', ') : '' }}</p>

    <h3>{{ post.title }}</h3>

    <p>
        {{ post.location }}, à
        {{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}
    </p>
    <div class="price">
        {{ post.price }}€
    </div>

    <HR
    size="2" align="center" width="100%">

    <!-- SECTION  -->

    <h6>Description</h6>
    <p>{{ post.description }},
        {{ post.state }}
    </p>

    <HR size="2" align="center" width="100%">

    <a href="javascript:history.back()">back to list</a>

    <div class="d-flex flex-column ">
        <div class="btn-green">
            Contacter le vendeur
        </div>

        {% include 'user/_profile-card.html.twig'%}
    </div>

    {% if post.author.id == app.user.id %}
        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

        {{ include('post/_delete_form.html.twig') }}

        {% else %}

    {% endif %}

{% endblock %}
{% block sidebarContent %}
    <div class="container d-flex flex-column ">
        {% include 'user/_profile-card.html.twig'%}

        <div class="btn-green">
            Contacter le vendeur
        </div>
    </div>

{% endblock %}
