{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block mainContent %}
    <h1>{{ post.title }}</h1>

    <div class="col-md-4">
        <img src="{{ asset('uploads/' ~ post.attachment) }}" class="card-img">
    </div>

    <table class="container table">
        <tbody>
            <!-- SECTION  -->
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ post.location }}</td>
            </tr>
            <tr>
                <th>Published_at</th>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ post.price }}</td>
            </tr>

            <!-- SECTION  -->
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>{{ post.categories ? post.categories|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ post.state }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('current_user_profile') }}">back to list</a>

    <div class="container d-flex flex-column ">
        {% include 'user/_profile-card.html.twig'%}
        <div class="btn-green">
            Contacter le vendeur
        </div>

    </div>

    {% if app.user is not empty %}
        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>

        {{ include('post/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
{% block sidebarContent %}
    <div class="container d-flex flex-column ">
        <div class="btn-green">
            Contacter le vendeur
        </div>

        {% include 'user/_profile-card.html.twig'%}
    </div>

{% endblock %}
