{% extends 'base.html.twig' %} {% block title %}Post {% endblock %} {% block
mainContent %}
<a href="javascript:history.back()" class="">
  file d'ariane
</a>

{% if post.attachment is not empty %} {#
<img src="{{ asset('uploads/' ~ post.attachment) }}" class="card-img" /> #}
<img src="{{ post.attachment }}" class="card-img" />
{% else %}
<div class="card">
  <p class="text-center">
    Pas de photo pour cette annonce
  </p>
</div>
{% endif %}

<p>{{ post.categories ? post.categories|join(', ') : '' }}</p>

<h3>{{ post.title }}</h3>

{% set myDate = "now" | date %}
<div class="d-flex justify-content-between">
  <p>
    {{ post.location }}, à
    {{ post.publishedAt | ago }}
  </p>
  <div class="price">{{ post.price }}€</div>
</div>

<HR size="2" align="center" />

<h6>Description</h6>
<p>
  {{ post.description }},
  {{ post.state }}
</p>

<HR size="2" align="center" width="100%" />

<div class="profile-card d-flex flex-column align-items-center">
  {% include 'user/_btn1-profile-card.html.twig' with { 'user' : post.author }%}
  {% include 'user/_profile-card.html.twig' with { 'user' : post.author }%}
</div>

{% if app.user is not empty %} {% if post.author.id == app.user.id %}
<a href="{{ path('post_edit', { id: post.id }) }}">edit</a>

{{ include("post/_delete_form.html.twig") }}

{% endif %} {% endif %} {% endblock %} {% block sidebarContent %}
<div class="d-flex flex-column align-items-center">
  {% include 'user/_profile-card.html.twig' with { 'user' : post.author }%} {%
  include 'user/_btn2-profile-card.html.twig' with { 'user' : post.author }%}
</div>
{% endblock %}
