<div class="d-flex flex-column align-items-center mt-4">

	<a href="{{ path('user_profile', {'id': user.id}) }}" class="d-flex flex-column align-items-center">

		{% if user.avatar is not empty %}
			<img class="avatar-img" src="{{ asset('uploads/' ~ user.avatar) }}" alt="">
		{% else  %}
			<img class="avatar-img" src="{{ asset('img/default-avatar-708x708.jpg') }}" alt="">
		{% endif %}

		<div class="d-flex flex-column align-items-center mt-4">
			<h6 class="m-0">{{ user.username }}</h6>
			<div>
				{{ user.posts.count }}
				annonces en ligne
			</div>
		</div>
	</a>
	<HR size="2" align="center" width="100%">

	<div class="d-flex flex-column align-items-center">
		<div class="tiny-text">Avis: 4/5</div>

		<ul id="stars">
			<li class="star">
				{{ source('icons-svg-twig/icon_star.svg') }}
			</li>
			<li class="star">
				{{ source('icons-svg-twig/icon_star.svg') }}
			</li>
			<li class="star">
				{{ source('icons-svg-twig/icon_star.svg') }}
			</li>
			<li class="star">
				{{ source('icons-svg-twig/icon_star.svg') }}
			</li>
			<li class="star star-empty">
				{{ source('icons-svg-twig/icon_star.svg') }}
			</li>
		</ul>
		<HR size="2" align="center" width="100%">
	</div>
</div>
